@font-face {
  font-family: 'Quattrocento-Bold';
  src: '../public/fonts/Quattrocento/Quattrocento-Bold.ttf';
}

@font-face {
  font-family: 'Quattrocento-Regular';
  src: '../public/fonts/Quattrocento/Quattrocento-Regular.ttf';
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: '../public/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf';
}


$article_heading: #404040;